<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style type="text/css">
    table {border-collapse: collapse; margin: 0 auto;}
    th, td {width: 166px; height: 66px; color: #f3e66e; border: 1px solid #f3e66e; text-align: center; background: #887b0899;}
</style>
</head>
<body>
	<h2>안녕하세요 여기는 DEPT 화면 입니다.</h2>
	<div id="result"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script type="text/javascript">
	window.onload = function(){
        $.ajax({
            url: '/api/v1/dept',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
            	
            	console.log(response);
            	
            	var out_table = "";
                out_table += "<table>";
            	out_table += "<tr> <th>부서번호</th> <th>부서명</th> <th>위치</th> </tr>";
            	
                for (var j = 0; j < response.length; j++) {
                	out_table += "<tr>"
                				+ "<td>" + response[j].deptno + "</td>"
                				+ "<td>" + response[j].dname + "</td>"
                				+ "<td>" + response[j].loc + "</td>"
                				+"</tr>";
                }
                out_table += "</table>";
                $("#result").append(out_table);
            },
        });
	}
</script>
</html>