<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h2>여기는 Movie 화면 입니다.</h2>
	<p id="data"></p>
	
	<div class="container">
			<div class="movie-list">
                <div class="movie-row" style="display:flex; justify-content:space-around;">
                
                    <div class="item">
                        <div id="movie-0" class="poster"><img alt="" src="/images/Nyan Cat.gif"></div>
                        <h4 id="movie-title-0" class="title"></h4>
                        <p id="movie-year-0" class="year"></p>
                        <input type="hidden" id="movie-id-0" />
                    </div>
                    
                    <div class="item">
                        <div id="movie-1" class="poster"><img alt="" src="/images/Nyan Cat.gif"></div>
                        <h4 id="movie-title-1" class="title"></h4>
                        <p id="movie-year-1" class="year"></p>
                        <input type="hidden" id="movie-id-1" />
                    </div>
                    
                    <div class="item">
                        <div id="movie-2" class="poster"><img alt="" src="/images/Nyan Cat.gif"></div>
                        <h4 id="movie-title-2" class="title"></h4>
                        <p id="movie-year-2" class="year"></p>
                        <input type="hidden" id="movie-id-2" />
                    </div>
                    
                </div>
            </div>
	</div>
         
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script type="text/javascript">
	callMyAPI();  // 함수 호출 
	
	function callMyAPI(){
		// $.ajax: back-end front-end 통신 기능
		// type: GET = Controller에 GetMapping
		$.ajax({
			url: '/api/v1/movies',
			type: 'GET',
			dataType: 'json',
			success: function (response){
				console.log(response);
				
				$('#data').append(response[0].title);
				
				for (var i = 0; i < response.length; i++) {
                    $('#movie-' + i).append(response);
                    $('#movie-title-' + i).append(response[i].title);
                    $('#movie-year-' + i).append(response[i].year);
                    // $('#movie-id-' + i).val(response[i].imdbID);
                }
			}
		});
	}
	
</script>
</html>